{% extends 'main/index.html' %}

{% block title %}All Users{% endblock %}

{% block content %}
    <div>    
        {% if received_users %}
            {% for user in received_users %}
                <p>User:</p> 
                <p><a href="{% url 'username' user.username %}" style="color: #ffffff; text-decoration: none">{{ user.username }}</a></p>
                <p>Date Joined:</p>
                <p>{{ user.date_joined }}</p>
                <p>Last Login:</p>
                <p>{{ user.last_login }}</p>
            {% endfor %}
        {% else %}
            <p>Something went wrong!</p>
        {% endif %}
    </div>
{% endblock %}
