{% extends 'main/index.html' %}

{% block title %}All Users{% endblock %}

{% block content %}
    <div>    
        {% if received_users %}
            <p>Users:</p>
            <ul>
                {% for user in received_users %}                 
                    <li>                        
                        <a href="{% url 'username' user.username %}" style="color: #ffffff; text-decoration: none">
                            <img class="profile-image" src="{{ user.profile.image.url }}">
                            {{ user.username }}
                        </a>
                    </li>
                {% endfor %}
            <ul>
        {% else %}
            <p>Something went wrong!</p>
        {% endif %}
    </div>
{% endblock %}
