{% extends 'main/index.html' %}

{% block title %}{{ received_user.username }}{% endblock %}

{% block content %}
    <div>    
        {% if received_user %}
            <p>User:</p> 
            <p>{{ received_user.username }}</p>
            <p>Date Joined:</p>
            <p>{{ received_user.date_joined }}</p>
            <p>Last Login:</p>
            <p>{{ received_user.last_login }}</p>
        {% else %}
            <p>Something went wrong!</p>
        {% endif %}
    </div>
{% endblock %}
