body {
    background-color:#333333;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 100%;
    width: 100%; 
}

aside {
    float: left;    
    background-color:#3f3f3f;
    height: 100vh;
    width: 20vh; 
    color: #ffffff;
    border-right: 5px solid #4f4f4f;
}

main div {
    background-color: #4f4f4f;
    color: #ffffff;
    padding: 1px;
}


