{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'main/js/scripts.js' %}"></script>
    {% block scripts %}
    {% endblock %}   
</head>
<body>
    <aside>
        <ul>
            <li><a href="{% url 'main' %}" style="color: #ffffff; text-decoration: none">Main</a></li>
            {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li><a href="{% url 'logout'%}" style="color: #ffffff; text-decoration: none">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login'%}" style="color: #ffffff; text-decoration: none">Login</a></li>
            <li><a href="{% url 'signup'%}" style="color: #ffffff; text-decoration: none">Sign Up</a></li>
            {% endif %}
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
        <div id="search-results">
        </div>
    </main>
</body>
</html>
