{% extends 'main/index.html' %}

{% block title %}Maxot Notes{% endblock %}

{% block content %}
    <div>
        <h4>Notes:</h4>
        <form id="search-form" method="get">
            <input id="search-input" name="search" type="text" placeholder="Search">
        </form>
        <div id="search-results">        
            {% if notes %}
                {% for note in notes %}
                    <div style="background-color: #4f4f4f">
                        <h4>{{ note.title }}</h4>
                        <p>{{ note.text  }}</p>
                        <p>{{ note.last_save }}</p>
                        <a href="{% url 'note' note.id %}" style="color: #ffffff; text-decoration: none">View</a>
                    </div><br>
                {% endfor %}
            {% else %}
                <p>You don't have any notes yet</p>
            {% endif %}
        </div>
        <a href="{% url 'create' %}"><button>Create Note</button></a>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            var debounceTimer;
            
            $('#search-input').on('input', function() {
                clearTimeout(debounceTimer);
                
                debounceTimer = setTimeout(function() {
                    var searchQuery = $('#search-input').val();  
                    $.ajax({
                        url: "{% url 'search' %}",
                        method: 'GET',
                        data: {
                            'search': searchQuery
                        },
                        success: function(response) {
                            $('#search-results').html($(response).find('#search-results').html());
                        },
                        error: function(xhr, errmsg, err) {
                        }
                    });
                }, 500);
            });
        });
    </script>
{% endblock %}