{% extends 'main/index.html' %}

{% block title %}Note{% endblock %}

{% block content %}
    <div>
        <h4>Note: {{ note.title }}</h4>
        <div style="background-color: #4f4f4f">
            <p>{{ note.text  }}</p>
            <p>{{ note.last_save }}</p>
            <a href="{% url 'note_edit' note.id %}" style="color: #ffffff; text-decoration: none">Edit</a>
            <br>
            <p>Allowed users:</p>
            <ul>
                {% for user in note.access.all %}
                <li><a href="{% url 'username' user.username %}" style="color: #ffffff; text-decoration: none">
                    <img class="profile-image" src="{{ user.profile.image.url }}">
                    {{ user.get_username }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        
    </div>
{% endblock %}